* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.logo {
    width: 50px;
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}
nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif; 
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff9900;
}


.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    margin-top: 50%;
}

.our-socials {
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;}

.social-links {
    flex: 1;
    text-align: left;
}

.social-button {
    background: none;
    border: none;
    cursor: pointer;
}

.social-button img {
    width: 74px;
    height: 74px;
    margin-right: 10px;}

.newsletter {
    flex: 1;
    text-align: center;
}

.newsletter-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.contact-info {
    flex: 1;
    text-align: right;
}
.content_Area{
    text-align: center;
    color: #ff9900;
    text-decoration: underline;
    font-style: 'Segoe UI', sans-serif;
    margin-top: 60px;
    
    
}
.c-head{
    font-style: 'Segoe UI', sans-serif;
    font-size: large;
}
.container_line_box{
    display: flex;
    gap: 3%;
    justify-content: center;
}
.box{
    width: 350px;
    height: 350px;
    margin-top: 10px;
}

.box-1{
    background-color: aqua;
}
.box-2{
    background-color: aqua;
}
.box-3{
    background-color: aqua;
}

.container_area{
    margin-top: 60px;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    text-decoration: #333;
    border: 1px solid orangered;
    
}
.ab_container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
    text-decoration: none;
    color: #ff9900;
}
